<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>伊家书窝移动管理平台.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>577AFCD713314A52E12915D713FF34853E6BF561</string>
				<key>dateExpires</key>
				<string>2018/9/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>54274GBPG8.com.YiMi.BooksManager.----------</string>
				<key>com.apple.developer.team-identifier</key>
				<string>54274GBPG8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>54274GBPG8.com.YiMi.BooksManager.----------</string>
				</array>
			</dict>
			<key>name</key>
			<string>伊家书窝移动管理平台.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8579eb0f-14b9-42a2-b2bb-08ef24144287</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.YiMi.*</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>54274GBPG8</string>
				<key>name</key>
				<string>Hangzhou Yimi Technologies Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
